@Model OnlineLaptopSell.Models.admin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
.<form class="" action="" method="post">
    <div class="imgcontainer">
        <img src="#" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <label for="uname"><b>Username</b></label>
        @*<input type="text" placeholder="Enter Username" name="uname" required>*@
        @Html.TextAreaFor(x=>x.ad_name, new { @class="form-control",placeholder="Admin Name"})
        <label for="psw"><b>Password</b></label>
        @*<input type="password" placeholder="Enter Password" name="psw" required>*@
        @*@Html.TextAreaFor(x=>x.ad_password, new { @class="form-control", placeholder="Password"})*@
        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
    </form>

